@model RunningTracker.Models.DataEntryModels.DataEntryViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>What where your running stats for today?</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Date" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="HeartrateMax" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="HeartrateMax" class="form-control" />
                <span asp-validation-for="HeartrateMax" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="HeartrateMin" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="HeartrateMin" class="form-control" />
                <span asp-validation-for="HeartrateMin" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="HeartrateAvg" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="HeartrateAvg" class="form-control" />
                <span asp-validation-for="HeartrateAvg" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Steps" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Steps" class="form-control" />
                <span asp-validation-for="Steps" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
