@{
    ViewData["Title"] = "NoLoggedUser";
}
<h1 class="text-danger">Error: No User is Logged in.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<h3>Log In!</h3>
<p>
    Please <a asp-controller="Account" asp-action="Login">Click here to Log in</a>.
</p>

