@{
    ViewData["Title"] = "Help!";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Anthony Smith, Tom Sitdamlong, Russ Westeren<br />
   La Crosse, WI 54601<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">RunningTrackerSupport@gmail.com</a><br />
</address>

<p style="align-content:center"> 
    <h1>
        How to use The Running Tracker;
    </h1>
    <ul style="order:initial">
        <li>Register
        <li>Log in
        <li>Enter Data be a specific run
        <li>Analyze Your Data!
        
    </ul>
    <div class="body-content"  style="background-color:aliceblue">
        Once you have multiple entries entered in The Running Tracker you will be
    able to compare yourself against national averages and be able to visulize them with graphs.
        If you have any error problems please see the contact information located at the top of the page.
         That is our support team for this web application!
    </div>
</p>

<h3>
    <strong>
        Registering
    </strong>
</h3>
<ul>
    <li> Click the Register button at the top of the screen.
    <li> Create a new username and password the is unique.
    <li> Passwords must contain at least one non-numeric or alphabet letter.
    <li> Passwords must also be at least 6 characters long.
    <li> Other oddities will also be showed to the user if something is incorrect.
</ul>
<div>
    <h3>
        <strong>
            Logging in
        </strong>
    </h3>
    <ul>
        <li> Click the Log in at the top of the screen.
        <li> Enter Username and password
        <li> If you cannot remember the username or password please use our "forgot your password button" to recover your information
        <li> Check Remember me? box if you wish to be remembered on this device
        <li> Other oddities will also be showed to the user if something is incorrect.
    </ul>
</div>
    <div>
        <h2>
                Checking out Your Data!
        </h2>
        <ul>
            <li> Make sure that you are logged in.
            <li> Click on Data Entry at the top left corner of the page.
            <li> If you are not logged in, it will direct you to a temporary page redirecting you to log in.
            <li> Start entering in data for your run!
            <li> This is your main page to see the data that you have input about your running habits!
        </ul>
        <h2>
            Create Data
        </h2>
        <ul>
            <li> Click create new to create a new entry into the database
            <li> Enter in the respective fields. Each will have validation checking. Follow those guidelines
            <li> If you enter a day in the future our website will NOT allow you to enter for that day. (you can't be a cheater now!)
            <li> Once you have succesfully entered in the data, click create and you will see you entry on the Running Entries page       
        </ul>
        <h2>
            Edit Data
        </h2>
        <ul>
            <li> Click the edit button for a specific entry.
            <li> Enter in the respective fields. Each will have validation checking. Follow those guidelines
            <li> If you enter a day in the future our website will NOT allow you to enter for that day. (you can't be a cheater now!)
            <li> If you choose not to edit the data please click back to list.
        </ul>
        <h2>
            Data Details
        </h2>
        <ul>
            <li> Click the details button for a specific entry.
            <li> You will be able to see your information for that specifc day.
            <li> You may choose to edit this entry or go back to the Running Entries List.
        </ul>
        <h2>
            Delete Data
        </h2>
        <ul>
            <li> Click the delete button for a specific entry.
            <li> You will be prompted if you really want to delete this piece of data.
            <li> please be sure you want to delete it because there is no way to recover that data!
            <li> If you choose not to delete the entry please click back to list.
        </ul>
        <h2>
            Searching Data
        </h2>
        <ul>
            <li> Enter a date or dates into the search bar to be able to see data between certain times!
        </ul>
    </div>
<div>
    <h2>
        Data Vizualization
    </h2>
    <ul>
        <li> Click the data Vizualization button at the top of the webpage
        <li> You will be able to see your progess over time and compare yourself to national averages!
    </ul>
</div>


