@{
    ViewData["Title"] = "Help!";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Anthony Smith, Tom Sitdamlong, Russ Westeren<br />
   La Crosse, WI 54601<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">RunningTrackerSupport@gmail.com</a><br />
</address>

<p style="align-content:center"> 
    <h1>
        How to use The Running Tracker;
    </h1>
    <ul style="order:initial">
        <li>Log in
        <li>Click Data Entry at the top left corner
        <li>Enter Data for your run
        
    </ul>
    <div class="body-content"  style="background-color:aliceblue">
        Once you have multiple entries entered in The Running Tracker you will be
    able to compare yourself against national averages and be able to visulize them with graphs.
        If you have any error problems please see the contact information located at the top of the page.
         That is our support team for this web application!
    </div>

</p>

